body {
	font-family:sans-serif;
}

.canvas {
	margin-top:10px;
	background-color:#ececec;
	border-width:2px;
	border-color:gray;
	border-style:solid;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:300px;
	height:300px;	
	display:block;
}

.toolbar{
	display:inline-block;
	width:80px;
	
}

p, ul, li {
	font-size:10pt;
	margin-bottom:2px;
	margin-top:2px;
}
input {
	-webkit-user-select: none;
}
