<div id="badges" data-dojo-type="dojox.mobile.View">

	<link href="../../dojox/mobile/themes/common/domButtons/DomButtonRedBadge.css" rel="stylesheet"/>
	<!--link href="../../dojox/mobile/themes/common/domButtons/DomButtonGreenBadge.css" rel="stylesheet"/>
	<link href="../../dojox/mobile/themes/common/domButtons/DomButtonBlueBadge.css" rel="stylesheet"/-->	
	
<div dojoType="dojox.mobile.RoundRect" shadow="false" class="mgTranspRoundRect">
	<ul data-dojo-type="dojox.mobile.IconContainer">
		<li id="icon0" data-dojo-type="dojox.mobile.IconItem" data-dojo-props='label:"app1", icon:"images/icon-1.png", lazy:true, badge:"55"'><div class="box"></div></li>
		<li id="icon1" data-dojo-type="dojox.mobile.IconItem" data-dojo-props='label:"app2", icon:"images/icon-1.png", lazy:true'><div class="box"></div></li>
		<li id="icon2" data-dojo-type="dojox.mobile.IconItem" data-dojo-props='label:"app3", icon:"images/icon-1.png", lazy:true'><div class="box"></div></li>
	</ul>

<div style="margin-bottom:10px;">Badge value: <input id="val" type="text" value="25"></div>
<input type="button" onclick="setBadgeValue(0)" value="app1">
<input type="button" onclick="setBadgeValue(1)" value="app2">
<input type="button" onclick="setBadgeValue(2)" value="app3">


</div>
</div>
