<div id="forms" dojoType="dojox.mobile.ScrollableView"
	style="width: 100%;">
	<form name="testForm" id="testForm">
		<div class="field-title">Personal Data</div>
		<div class="fieldset">
			<div class="field-row">
				<span>Full name</span>
				<input id="forms_name" dojoType="dojox.mobile.TextBox" selectOnClick="true" value="Luke" type=text name="name"></input>
			</div>
			<div class="field-row">
				<span>Hide birthdate</span>
				<input type=checkbox dojoType="dojox.mobile.CheckBox" name="hidebirth" checked="true" style="margin-left:0px;">
				</input>
			</div>
			<div class="field-row">
				<span style="line-height:16px;">Goals</span>
				<textarea name="goals" dojoType="dojox.mobile.TextArea" maxLength="100" cols="20"></textarea>
			</div>
		</div>
		
		<div class="field-title">
			Login
		</div>
		<div class="fieldset">
			<div class="field-row">
				<span>User name*</span>
				<input type=text dojoType="dojox.mobile.TextBox" name="username" required>
				</input>
			</div>
			<div class="field-row">
				<span>Password*</span>
				<input type=password name="pass" dojoType="dojox.mobile.TextBox">
				</input>
			</div>
		</div>
		
		<div class="field-title">
			Alerts
		</div>
		<div class="fieldset">
			<span>Issue alerts for:</span>
			<br/>
			<div class="field-row">
				<span>All messages</span>
				<input id="alert-all" type=radio name="forwardtype" dojoType="dojox.mobile.RadioButton" value="all">
				</input>
			</div>
			<div class="field-row">
				<span style="line-height:16px">Urgent messages only</span>
				<input id="alert-urgent" type=radio name="forwardtype" dojoType="dojox.mobile.RadioButton" checked="true" value="urgent">
				</input>
			</div>
			<div class="field-row">
				<span style="vertical-align:top;">Audible alerts:</span>
				<div id="alertSwitch" dojoType="dojox.mobile.Switch" value="off">
				</div>
			</div>
			<div class="field-row">
				<span>Alert volume</span>
			</div>
			<input id="alertSlider" dojoType="dojox.mobile.Slider" name="alertvolume" min="0" max="100" value="0" style="width:50%;">
			</input>
		</div>
		<div style="text-align: center;">
			<button id="resetBtn" type=reset dojotype="dojox.mobile.Button" class="mblButton greyBtn baseBtn normalBtn">
				Reset Form
			</button>
		</div>
	</form>
</div>
