<div id="mobileLists" dojoType="dojox.mobile.ScrollableView">
	<div id="mobileListCtrlPanel">
		<div id="mobileListSetBtns">
			<input id="mobileListSet1Btn" type="button" value="Set 1" class="mobileListSelected" onclick="demos.mobile.src.mobileLists.switchTo(1);"></input>
			<input id="mobileListSet2Btn" type="button" value="Set 2" class="mobileListUnselected" onclick="demos.mobile.src.mobileLists.switchTo(2);"></input>
		</div>

		<div id="dataListHint"><span id="listLengthLabel">5</span> items</div>
		
		<div style="right:16px;">
			<div id="mobileListAddBtn" class="mblDomButtonBluePlus" onclick="demos.mobile.src.mobileLists.add1()"></div>
			<div id="mobileListDelBtn" class="mblDomButtonRedMinus" onclick="demos.mobile.src.mobileLists.delete1()"></div>
		</div>
	</div>
	<ul dojoType="dojox.mobile.RoundRectDataList" id="mobileListsDataList" store="demos.mobile.src.mobileLists.listsStore" query="{label: '*'}"></ul>
</div>
