<div id="tabBar" dojoType="dojox.mobile.ScrollableView">
	<div id="tabBarContent" class="label">
		<div id="tabView1" dojoType="dojox.mobile.View" selected="true"> 
			<div>&nbsp;</div>
		</div> 
		<div id="tabView2" dojoType="dojox.mobile.View"> 
			<div>&nbsp;</div>
		</div> 
		<div id="tabView3" dojoType="dojox.mobile.View"> 
			<div>&nbsp;</div>
		</div>
	</div>
	<ul id="demoTabBar" dojoType="dojox.mobile.TabBar" single="true" iconBase="images/tabbar_all.png" fixed="bottom">
		<li dojotype="dojox.mobile.TabBarButton" moveTo="tabView1" iconPos1="688,0,30,30"
			iconPos2="784,0,30,30" selected="true"></li>
		<li dojotype="dojox.mobile.TabBarButton" moveTo="tabView2" iconPos1="720,0,30,30"
			iconPos2="816,0,30,30"></li>
		<li dojotype="dojox.mobile.TabBarButton" moveTo="tabView3" iconPos1="752,0,30,30"
			iconPos2="848,0,30,30"></li>
	</ul>
</div>
