* "Forms" field set title */
form#testForm div.field-title {
    text-shadow: white 0 1px 1px;
    color: #333;
}

/* "Headings" segmented tab bar margin */
ul#headingTabBar li {
	margin: 6px 0 6px 0 !important;
}

/* "Headings" Base Button */
div#headings button.baseBtn {
	height: 29px;
	line-height: 29px;
	margin: 6px 30px;
}

/* "Headings" Back Button */
div#headings button.backBtn:after {
    height: 23px;
	left: -11px;
    -webkit-mask-size: 12px 23px;
}

div#headings button#tbBackBtn {
	margin-left: 17px;
}

div#headings #tbDomBtn {
	margin-top: 7px;
}

.headingBtn {
	color:black;
	font-weight:bold;
	margin-top:7px;
	margin-bottom:7px;
	margin-left:10px;
}

#header button {
	margin-bottom: 6px;
	height: 34px;
}

/* back button of "Back" in header */
#navButton::after {
	top: 0px;
	width: 14px;
	height: 30px;
	left: -14px;
	-webkit-mask-size: 14px 30px;
}

/* Temp fix for wrong icon position in list. */
#navigation .mblListItemIcon {
	top: 7px;
	-webkit-transform: none;
}