* "Forms" field set title */
form#testForm div.field-title {
    text-shadow: white 0 1px 1px;
    color: #333;
}

/* "Headings" segmented tab bar margin */
ul#headingTabBar li {
	margin: 6px 0 6px 0 !important;
}

/* "Headings" Base Button */
div#headings button.baseBtn {
	height: 29px;
	line-height: 29px;
	margin: 6px 30px;
}

/* "Headings" Back Button */
#tbBackBtn:after {
    height: 27px;
	left: -9px;
    -webkit-mask-size: 12px 27px;
	border-left-style: none;
	border-top-left-radius: 0 0;
	border-bottom-left-radius: 0 0;
}

div#headings button#tbBackBtn {
	margin-left: 17px;
}

div#headings #tbDomBtn {
	margin-top: 7px;
}

.headingBtn {
	color:black;
	font-weight:bold;
	margin-top:7px;
	margin-bottom:7px;
	margin-left:10px;
}

#header button {
	top: 4px;
	height:34px;
}

/* back button of "Back" in header */
#navButton::after {
	top: 0px;
	width: 14px;
	height: 32px;
	left: -13px;
	-webkit-mask-size: 14px 32px;
}

#navButton {
	left: 20px;
}

#sourceButton {
	right: 3px;
	width: 60px;
}

#tbToggleBtn {
	position:absolute;
	top:6px;
	height:31px;
	line-height:31px;
}

/* Temp fix for wrong icon position in list. */
#navigation .mblListItemIcon {
	-webkit-transform: none;
}

/* JSON-P demo */
#searchKeywords {
	top: 7px;
	height: 28px;
}

#searchTwitterBtn {
	top: 7px;
}

@media screen and (max-width: 600px) {
	#searchTwitterBtn {
		right: 6px;
	}
}

#jsonp .searchResult, #findMoreDiv {
	color: black;
}

/* for "HTML5" demo */
#noteLocRow {
	line-height: 34px;
}
