	 {
		width: 700px;
		height: 450px;
		border: 1px solid black;
		padding: 0px;
		margin: 0px;
		overflow: hidden;
	}

	div.demoEngineNavigation, div.demoEngineDemoContainer {
/*		border: 1px solid black; */
		width: 700px;
		height: 450px;
		overflow: hidden;
		padding: 0px;
		margin: 5px;
		position: absolute;
		top: 0px;
		left: 0px;
		font-family: Myriad,Tahoma,Verdana,sans-serif;
	/*	color: white;*/
	}

	div.demoEngineNavigation {
		color: white;
	}

	div.dojoTabContainer {
		width: 700px;
		height: 450px;
		top: 0px;
		left: 0px;
		float: right;
		overflow: hidden;
	}

	div.dojoTabContainer iframe {
		overflow: auto;
		width: 100%;
		height: 100%;
		border: 0px;
		padding: 0px;
		margin: 0px;	
	}

	div.dojoTabContainer textarea {
		width: 100%;
		height: 100%;
		padding: 0px;
		margin: 0px;
		border: 0px;
		overflow: auto;
	}

	div.demoEngineDemoHeader {
		top: 0px;
		left: 0px;
		width: 550px;
		height: 65px;
		position: absolute;
		overflow: hidden;
		color: black;
		/*border: 1px solid black;*/
	}

	div.demoEngineDemoHeader h1 {
		font-size: 1em;
		font-weight: 300;
		margin: 2px;
	}

	div.demoEngineDemoHeader h2 {
		font-size: .75em;
		font-weight: 200;
	}

	div.demoEngineDemoHeader div {
		/*margin: 10px;*/
		float: left;
		/*margin-left: 120px;*/
		position: absolute;
		top: 0px;
		left: 120px;
	}

	div.demoEngineDemoHeader div:first-child {
		left: 5px;
		top: 10px;
		width: 75px;
	}

	.collapseTo {
		position: relative;
		width: 1px;
		height: 1px;
		top: 0px;
		left: 0px;
	}

	div.dojoTabLabels-top {
		position : absolute;
		top : 0px;
		left : 0px;
		overflow : visible;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-right: 0px;
		width : 150px;
	}

	div.dojoTabPaneTab {
		float: right;
		background: #ffffff;
		border: 0px;
		padding: 0px;
		margin-left: 10px;
	}

	div.dojoTabPaneTab span {	
		background: #ffffff;
		border: 0px;
		padding: 0px;
		margin: 0px;
	}

	div.dojoTabPaneTab.current {
		background: #ffffff;
		border-bottom: 2px solid black;
	}

	div.demoEngineMenuNavigation {
		float: left;
		left: 225px;
	/*	border: 1px solid black; */
		width: 250px;
		height: 448px;
		margin: 0px;
		padding: 0px; position: relative;
	}

	div.demoEngineDemoNavigation {
		float: right;
		width: 450px;
		height: 448px;
		/*border: 1px solid black;*/
		margin: 0px;
		padding: 0px;
		position: relative;
		overflow: auto;
	}

	table.demoEngineDemoListings {
		/*background: #dedede;*/
		width: 100%;
		border-collapse: collapse;
		cursor: pointer;
	}

	table.demoEngineDemoListings img {
		width: 100px;
		height: 80px;
	}

	table.demoEngineDemoListings td {
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	table.demoEngineDemoListings tr {
		padding: 0px;
		background: #95b9ed;
		border-bottom: 2px solid #6f96cf;
	}

	table.demoEngineDemoListings tr:hover {
		background: #a3c5f9;
		border-bottom: 2px solid #dedede;
		/*color: #6f96cf;*/
	}

	.demoEngineCollapsedMenu {
		border: 1px solid black;
		cursor: pointer;
	}

	.dojoButton {
		margin: 10px;
		margin-top: 0px;
	}	
	.dojoButton .dojoButtonContents {
		font-size: large;
	}

	.dojoButtonContents {
		width: 180px;
	}

