#flippableView1 {
	background-color:#EEE;
}
#flippableView2 {
	background-color:#5E99CC;
}
#flippableView3 {
	background-color:#759E60;
}

#flippableView1 > div, #flippableView2 > div, #flippableView3 > div {
	text-align:center;
	vertical-align:middle;
	position:relative;
	top: 10%;
	height:100%;
}

#flippableView1 > div > img, #flippableView2 > div > img, #flippableView3 > div > img {
	height: 60%;
}
