#testForm div.fieldset {
	border: 1px solid #ddd;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: white;
	margin: 2px 5px;
	padding: 2px 6px;
}

#testForm div.field-row {
	width: 100%;
	margin-top: 7px;
	margin-bottom: 7px;
}

#testForm div.field-title {
	font-size: 18px;
	font-weight: bold;
	margin: 1em .7em .3em;
}

#testForm span.field-label {
	display:-moz-inline-box;
	display:inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	text-shadow: rgba(255, 255, 255, 0.25);
	vertical-align: top;
	line-height: 30px;
	width: 140px;
}

#testForm input, #testForm textarea {
	width: 145px;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
	
#testForm input[type="radio"], #testForm input[type="checkbox"] {
	width: 30px;
	height: 30px;
}

#testForm .mblRadioButtonChecked::after, #testForm .mblRadioButton:checked::after,
#testForm .mblCheckBoxChecked::after, #testForm .mblCheckBox:checked:after {
	width: 0.45em;
	height: 1em;
	top: 2px;
	left: 9px;
	border-width: 0.2em;
}

/* Below are for date spinner */
#testForm .mblSpinWheel {
	height: 58px;
	border-left: 1px;
	border-right: 1px;
}

#testForm .mblSpinWheelBar {
	top: 20px;
	border: solid 1px #7B8497;
	height: 18px;
}

#testForm .mblSpinWheelDatePicker {
	width: 152px;
}

#testForm .mblSpinWheelSlot {
	width: 50px;
	border-left: 1px;
	border-right: 1px;
}

#testForm .mblSpinWheelSlotLabel {
	padding: 0;
	height: 18px;
	font: bold 18px Helvetica,sans-serif;
	text-align:center;
}

#alertSwitch {
	display:-moz-inline-box;
	display:inline-block;
}

#alertSlider {
	margin: 10px 4px;
}
