#searchKeywords {
	position:absolute;
	font-size: 13px;
	font-weight: bold;
	left:6px;
	margin:0px;
}

#searchTwitterBtn {
	position:absolute;
	margin:0px;
}

#jsonp .searchResult {
	border: 2px solid #999;
	margin: 1%;
	padding: 15px;
	list-style-type: none;
}

@media screen and (max-width: 600px) {
	#jsonp .searchResult {
		padding: 5px 0px;
	}
	#jsonp .searchResult {
		border-radius: 0.5em;
		-webkit-border-radius: 0.5em;
		-moz-border-radius: 0.5em;
	}
}

@media screen and (min-width: 600px) {
	#searchTwitterBtn {
		left: 175px;
	}
	#jsonp .searchResult {
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
	}
}

#jsonp .searchResult > div {
	display:table-cell;
}
#jsonp .user {
	text-align:center;
	width:80px;
}
#jsonp .userId {
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	word-wrap:break-word;
	word-break:break-all;
	margin-bottom: 5px;
}

#jsonp .user img {
	width:57px;
	min-height:57px;
}

#jsonp .tweetText {
	font-size: 13px;
	word-wrap:break-word;
	vertical-align: middle;
}

#findMoreDiv {
	display:none;
	width:100%;
	text-align:center;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
}
