div div.searchResult {
	border: 2px solid #999;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    color: white;
    margin: 1%;
    padding: 15px;
    text-align: center;
    text-shadow: grey 0px 2px 0px;
    list-style-type: none;
}

div div.searchResult .user {
	margin: 10px 0;
    font-size: 24px;
    line-height: 20px;
}

div div.searchResult .text {
    margin: 10px 0 5px;
    font-size: 12px;
    font-weight: bold;
}

div.searchResult img {
	width:48px;
	height:48px;
}

#jsonp input {
	margin-left: 15px;
}
