.ratingGroup {
	margin: 20px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 6px;
}

.ratingGroup1 .mblRating .mblSpriteIconParent {
	-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(0.1, rgba(0,0,0,0)), to(rgba(0,0,0,0.3)));
}

.ratingGroup2 {
}
