<label>Match </label>
<select dojoType="dijit.form.Select">
	<option value="all">All rules</option>
	<option value="any">Any rules</option>
</select>

<div dojoType="dijit.layout.AccordionContainer" style="height: 250px; width: 300px;"></div>

<div class="dojoxGridxFilterDialogButtons">
	<input type="button" dojoType="dijit.form.Button" showLabel="false" iconClass="dojoxGridxFilterBtnAddRule"/>
	<input type="button" dojoType="dijit.form.Button" label="Filter"/>
	<input type="button" dojoType="dijit.form.Button" label="Clear"/>
	<input type="button" dojoType="dijit.form.Button" label="Cancel"/>
</div>