<div class='dojoxGridxGotoPage'
	><table><tbody
		><tr><td class='dojoxGridxGotoPageMainMsg'>
		${_mainMsg}
		</td></tr
		><tr><td class='dojoxGridxGotoPageInput'
			><input dojoType='dijit.form.NumberTextBox'
				class='dojoxGridxGotoPageInputBox'
				dojoAttachPoint='pageInputBox'
				dojoAttachEvent='onKeyUp: _updateStatus'></input
			><span
				class='dojoxGridxPageCountMsg'
				dojoAttachPoint='pageCountMsgNode'></span
		></td></tr
		><tr><td class='dojoxGridxGotoPageBtns'
			><button dojoType='dijit.form.Button' 
				dojoAttachPoint='okBtn'
				dojoAttachEvent='onClick: _onOK'>
				${_okBtnLabel}
			</button
			><button dojoType='dijit.form.Button'
				dojoAttachEvent='onClick: _onCancel'>
				${_cancelBtnLabel}
			</button
		></td></tr
	></tbody></table
></div>
