@import url("../../dojox/mobile/themes/common/FixedSplitter.css");
@import url("css/buttons.css");
@import url("css/flippableViews.css");
@import url("css/icons.css");
@import url("css/forms.css");
@import url("css/headings.css");
@import url("css/jsonp.css");
@import url("css/layout.css");
@import url("css/list.css");
@import url("css/tabs.css");
@import url("css/css3.css");
#progDiv {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:999;
	background-color:transparent;
	visibility:hidden;
}