@import url("../../dojox/highlight/resources/highlight.css");
@import url("css/buttons.css");
@import url("css/flippableViews.css");
@import url("css/icons.css");
@import url("css/forms.css");
@import url("css/headings.css");
@import url("css/jsonp.css");
@import url("css/layout.css");
@import url("css/list.css");
@import url("css/tabs.css");
@import url("css/mobileListData.css");
@import url("css/css3.css");
@import url("css/html5.css");

#header button {
	position:absolute;
	margin:0px;
}

#navButton {
	width:60px;
}

#sourceButton {
	position:absolute;
}

#loadDiv {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:999;
}
#loadDiv {
	display:table;
	font-size: 20px;
	text-align:center;
	background-color:white;
}
#loadDiv span {
	display:table-cell;
	vertical-align:middle;
}

body .mblProgContainer {
	top:45%;
	height: 45px;
	width: 140px;
	margin-left:-70px;
	background-color: #2A2A28;
	border-style: solid;
	border-width: 2px;
	border-color: #666666;
	border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
}

body .mblProgContainer > div {
	height: 100%;
	width: 100%;
	line-height: 45px;
	vertical-align: middle;
	font-size: 20px;
	color: #c2c2c2;
}

body .mblProg {
	left: 3px;
	top: 3px;
}

body .mblProgContainer > div::after {
	padding-left: 42px;
	content: "Updating...";
}

#jsContent, #htmlContent {
	padding:0px 7px;
	white-space:pre-wrap;
	min-width: 800px;
	min-height:300px;
}

@media screen and (max-width: 600px) {
	#jsContent, #htmlContent {
		font-size: 14px;
	}
}
