* {
    outline: none !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: Lucida Sans,Lucida Grande,Arial !important;
    font-size: 13px !important;
    background: white;
    color: #333;
}

body.claro {
    font-family: "Lucida Sans", "Lucida Grande", Arial !important;
}

/*-----------------------------------------------
SH. Site Header (generic)
-----------------------------------------------*/
#header {
    margin: 0;
    padding: 0;
    background: url(http://dojotoolkit.org/images/header/linen.jpg) repeat-x scroll left top;
    width: 100%;
    height: 78px;
    border-bottom: 1px solid #D8D8D8;
}
#header .container {
    width: 960px;
    height: 78px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/*-----------------------------------------------
SHL. Site Header - Logo
-----------------------------------------------*/
#header #logo {
    display: inline-block;
    position: absolute;
    top: 3px;
    margin: 0;
}
#header #logo a {
    color: #fff;
    text-decoration: none;
    padding-top: 1em;
    display: block;
}
#header #logo a img {
    padding: 0;
	width:102px;
    border: medium none;
}

/*-----------------------------------------------
SHN. Site Header - Navigation
-----------------------------------------------*/
#header ul {
    position: absolute;
    bottom: 7px;
    right: 140px;
    margin: 0;
    padding: 0 0 0 11.55em;
    font-family: "Helvetica", "Arial", sans-serif;
}
#header ul li {
    list-style: none;
    display: inline;
}
#header li a {
    margin: 0 1px;
    padding: 7px 15px;
    display: block;
    float: left;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5em;
    min-width: 62px;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.0035em;
    background-color: #5BAED5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 176, 216)), to(rgb(0, 136, 196)));
    background-image: -webkit-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: -moz-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: -o-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: -ms-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    background-image: linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
    border-top: 1px solid #64D0E7;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

#header .home a {
    min-width: 15px;
    width: 15px;
    padding-bottom: 6px;
}

.dj_ie7 #header .home a {
    padding-bottom: 12px;
}

#header li.active a {
    font-weight: bold;
    border-bottom: 3px solid #0099CC;
}

.homeIcon {
    display: inline-block;
    width: 16px;
    height: 15px;
}

#header ul .homeIcon,
.homePage #header ul .homeIcon {
    background: url(http://dojotoolkit.org/images/homeIcon.png) no-repeat 0 -15px;
}

#header ul .homeIcon { background-position: 0 0 }

.homePage #header ul .home a,
.demosPage #header ul .demos a,
.downloadPage #header ul .download a,
.featuresPage #header ul .features a,
.communityPage #header ul .community a,
.blogPage #header ul .blog a,
.examplesPage #header ul .examples a,
.docPage #header ul .docs a {
    background: #FFF;
    color: #656565;
    text-shadow: none;
    border-color: #FFF;
}

/*===============================================
Description:
The typography for the dojotoolkit website,
includes all base styles.
===============================================*/


h1, h2, h3, h4, h5, h6,
p, blockquote, code, pre,
div, form, table {
    vertical-align: baseline;
}

.accessibility {
    display: none;
    visibility: visible;
}

hr {
    height: 1px;
    width: auto;
    border: medium none;
    background: #DDDDDD;
    margin: 10px 0;
}

em, i {
    font-style: italic;
}
strong, b {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #333333;
    clear: both;
}

#main h1, body h1 {
    font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
    font-size: 28px;
    line-height: 120%;
    margin: 0 0 18px 0 !important;
    clear: none;
    display: inline;
}

h2 {
    font-size: 20px;
    line-height: 120%;
    margin: 33px 0 10px 0;
    color: #cc0000;
}


h2 em {
    color: #333;
    font-style: normal;
}

h3 {
    font-size: 16px;
    color: #CC0000;
    line-height: 120%;
    margin: 40px 0 10px 0;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    margin: 37px 0 10px 0;
}

p, ol, ul, dl {
    font-size: 13px;
    color: #555;
    line-height: 125%;
    margin: 0 0 12px;
}

ol, ul {
    margin: 0 0 12px 40px;
    padding: 0px;
    -moz-padding-start: 0px;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
}

li {
    margin: 12px 0;
}

dl {
    margin: 0 0 12px 0;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin: 0 0 0 40px;
    padding: 0px;
    -moz-padding-start: 0px;
}

pre, code {
    font-family: "Lucida Grande", "Lucida Sans", Geneva, verdana, san-serif;
}
pre {
    margin: 12px 0;
    padding: 6px 9px 7px;
    font-size: 11px;
    border: 1px solid #CCCCCC;
    background: #FFFFEB;
    color: #555;
}

code {
    font-family:"courier" !important;
}

object, video {
    margin: 12px 0 12px;
}

a, a:link {
    color: #005197;
    text-decoration: none;
}
a:active, a:visited {
    color: #140586;
}

/**
* Common
*/
.displayNone, .hide {
    display: none;
}

/**
* Main layout
*/
html {
    height: 100%;
    width: 100%;
}


.accessibility {
    font-size: 1px;
    position: absolute;
    top: -9999px;
    padding: 1em 0;
    text-align: center;
}

#page {
    position: relative;
}

/**
* Header
*/
.highlightHead {
    padding: 0;
    margin: 0 0 0.5em 0;
    background: #E9E9E9;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 0.35em 1em;
    font-size: 14px;
    color: black;
    font-weight: bold;
    line-height: 120%;
}

/*-----------------------------------------------
The styles for the subnavigational elements.
-----------------------------------------------*/
.subnav {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.subnav li {
    line-height: 14px;
    height: 26px;
    display: inline;
}
.subnav li a {
    display: inline;
    float: left;
    margin: 0 12px;
    padding: 8px 0;
    text-decoration: none;
    color: #004fb1;
    border: 1px solid transparent;
}

.subnav li .blueButton {
    padding: 8px 12px;
}

.subnav li a:hover,
.subnav .selected a,
.subnav .selected:hover {
    color: #000;
}

/*-----------------------------------------------
The styles for the buttons.
-----------------------------------------------*/


.blueButton {
    color: #FCFCFC !important;
    border: 1px solid #00ABD2;
    text-decoration: none !important;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
	background-color:#0089CE;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.46, #0089CE),
        color-stop(0.87, #00AAD5)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #0089CE 46%,
        #00AAD5 87%
    );
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.dj_ie .blueButton {
	background-color:#0089CE;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00AAD5', endColorstr='#0089CE');
    zoom: 1;
    border: 1px solid #0089CE;
}
.blueButton:hover {
    color: #FFF !important;
    -moz-box-shadow: 0 1px 3px #00ABD2;
    -webkit-box-shadow: 0 1px 3px #00ABD2;
    box-shadow: 0 1px 3px #00ABD2;
}

/**
* Lists
*/
.defaultList {
    margin: 0.5em 0 0 1.5em;
}

.defaultList li {
    list-style-type: none;
    padding: 0.6em 0;
}

.homePage #intro {
    margin-top: 30px;
}

.homePage #intro .line {
    padding: 35px 0 41px 275px;
}

.homePage #intro .firstUnit {
}

#main {
    padding: 0px 0px;
    clear: both;
}

#main .firstUnit {
}

#main .sidebar .mod {
    margin-bottom: 20px;
}

#main .sidebar h1 {
    padding-bottom: 10px;
}

.spacer {
    padding-right: 65px;
}

.rightUnitSpacer {
    margin-right: 2em;
}

.leftUnitSpacer {
    margin-left: 2em;
}

#foot {
    height: 24px;
    left: 0px;
    color: #333;
    font-size: 0.8em;
    padding-top: 13px;
    border-top: 1px solid #ccc;
}

/**
* main content
*/
#contentLeft {
    float: left;
    width: 575px;
    padding-right: 20px;
    position: relative;
/*
    the following url does not exist; commented out to quiet build errors; tracked at #15698
    background: url(../images/sepLrg.gif) no-repeat right 30px;
*/
}

#contentNavRight {
    float: right;
    width: 250px;
}

#contentRight {
    float: right;
    width: 655px;
    position: relative;
}

#contentNavLeft {
    float: left;
    width: 180px;
/*
    the following url does not exist; commented out to quiet build errors; tracked at #15698
    background: url(../images/sepLrg.gif) no-repeat right 30px;
*/
	padding-right: 10px;
}

.sidebar h4 {
    height: 34px;
    line-height: 34px;
    padding: 0 1em;
    margin: 0;
    border: 1px solid #ECECEC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 #ccc, 0 1px 0 #fff inset;
    -webkit-box-shadow: 0 1px 0 #ccc, 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #ccc, 0 1px 0 #fff inset;
    background: #E9E9E9;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, #F4F4F4),
        color-stop(0.78, #FEFEFE)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #F4F4F4 9%,
        #FEFEFE 78%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F4F4F4');
}

.sidebar ul {
    margin: 10px 0;
    padding-left: 15px;
}

.sidebar ul li {
    list-style-type: none;
    padding: 0.3em 0;
}

/* ---------- Pro Tip ---------*/

.proTip {
	padding:1em;
	padding-left:35px;
	border:1px solid #ececcd;
	background:#fffff1 url("http://dojotoolkit.org/images/tip.png") no-repeat 10px 16px;
}

/**
* General inline styles
*/

#main h1 {
    margin: 0 0 25px 0;
}

h4.icon {
    padding: 4px 0 0 27px;
}

/*
table th {
    background-color: #DDDDDD;
    font-size: 11px;
    padding: 0.6em;
}

table td {
    border-collapse: collapse;
    border: 1px solid #FFFFFF;
    border-width: 0 1px 1px 0;
    font-size: 11px;
    padding: 0.6em;
}
*/

.pageTitleContainer {
    padding: 0em 0 1.5em 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
    margin-top: 24px;
    position: relative;
    height: 25px;
}

.pageTitleContainer h1 {
    position: absolute;
    left: 0;
}

/**
* text
*/
.notice {
    color: #e52b00;
}

/* special style for inlined images */
img.inlined {
    border: 1px solid #ccc;
    padding: 2px;
    margin: 12px 0 12px;
}

a img {
    border: none;
}

input {
    color: #666666;
    font-style: italic;
}

/* intro text styles */
.introText {
    font-size: 2.5em;
    color: #1BA6DF;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans", Arial;
    margin: 0;
    padding: 0;
    position: relative;
    top: -5px;
}

.introText em, h1 em {
    font-style: normal;
    color: #196daa;
}

.introSubText {
    width: 70%;
    font-size: 1.1em;
    color: #666666;
    padding-bottom: 14px;
    line-height: 1.76em;
    font-weight: normal;
    padding-top: 0;
    margin-top: 0px;
    position: relative;
}

.introSubText img {
    display: block;
    margin-top: 14px;
	position:relative;
}

.homePage .version {
    width: 160px;
    height: 200px;
    position: absolute;
	text-align:center;
    left: 45px;
    top: 15px;
}

body .homePage .version h3 {
    position: relative;
    top: 9px;
    right: 9px;
    font-size: 120px;
    color: #fff;
    font-family: "Georgia", "Lucida Grande", "Arial", "Helvetica", sans-serif;
    padding: 0;
    margin: 0;
    text-shadow: 0 -2px 0 rgba(0,0,0,.3);
}

.homePage .version span {
    font: normal 15px "Georgia", "Lucida Grande", "Arial", "Helvetica", sans-serif;
    display: block;
    text-align: center;
    position: relative;
    left: 14px;
    top: 0px;
    color: #fff;
    width: 120px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.radioRow,
.radioRow label {
    margin: 18px 20px 18px 0;
    line-height: 14px;
    vertical-align: middle;
}

.headingIcon {
    display: inline;
    padding-left: 10px;
}

.gradientBox {
    overflow: hidden;
    margin-top: 0em;
    padding: 0 10px 10px 10px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #F5F5F5),
        color-stop(1, #FFFFFF)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #F5F5F5 0%,
        #FFFFFF 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F5F5F5');
    border-bottom: 1px solid #DDD;
}

/**
* Page specific styling
*/
.go {
    margin-top: 17px;
}

.headerLink {
    font-size: 10px;
    padding-left: 1em;
}

.navTab {
    list-style: none;
    margin: 0;
    padding: 4px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.navTab li {
    margin-top: 1em;
    display: inline;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: #e3e3e3;
    color: #333;
    cursor: pointer;
}

.navTab li.active {
    background: white;
    border-bottom: 1px solid white;
    text-decoration: underline;
}

#resultbox {
    border: 3px solid #999;
    background: #fff;
    padding: 15px;
    width: 420px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #000;
    position: absolute;
    right: 0;
    z-index: 200;
    -webkit-box-shadow: 0 0 10px #333;
    -moz-box-shadow: 0 0 10px #333;
    outline: none;
}

#googlesearch, #sitesearch {
    margin-left: 20px;
}

#header form span.gs-spacer {
    background: none;
    display: inline;
    width: auto;
    height: auto;
}

.googleheader {
    margin: 5px 0;
    font-weight: bold;
}

/* Google Style Hacks */
.gsc-search-box, .gsc-configLabelCell {
    display: none;
}
.gsc-control {
    width: 100%;
}

.gsc-tabHeader {
    display: none;
}

/* Link Colour */
#resultbox a, .gs-title, .gs-title b {
    font-size: 13px;
    font-weight: bold;
    color: #2253AA !important;
}
.gs-visibleUrl, .gs-visibleUrl-short {
    color: #666 !important;
}

#searchClose {
    text-align: right;
}

#searchClose a {
    font-size: 10px !important;
    color: #cc0000;
    cursor: pointer;
}


#resultbox_underlay {
    opacity: 0;
}

.hidden {
    display: none;
}

.sidebar .authorInfo {
	margin-top:1em;
	padding:0.6em;
}

.sidebar .authorInfo .avatar {
	float:left;
	margin:0 8px 8px 0;
	border:1px solid #eee;
	width:70px;
}

.sidebar h4.sponsor {
	margin-top:1em;
	background:#f7f7f7;
	border:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	color:#626262;
}

.sidebar .sponsorInfo {
	margin-top:0.5em;
	padding:0.4em;
	text-align:center;
	border:3px solid #f9f9f9;
}

.sidebar .sponsorInfo img {
	margin-top:5px;
}

#mainlist {
	margin-left:auto;
	margin-top:30px;
	height:auto;
	clear:both;
}

#explist img { display:none; }
.content {
	#width:800px;
}
#mainlist a { font-weight:bold; color:#999; text-decoration:none;  line-height:1.2em; }
#mainlist a:link { color:#333; }
#mainlist a:visited { color:#333; }
#mainlist a:hover { color:#000; }
#mainlist a:hover span { color:#666; }
#mainlist a:active { color:#333; }


