<h1 dojoType="dojox.mobile.Heading">Find Me Stuff!</h1>

<div dojoType="dojox.mobile.RoundRect" shadow="true" class="detail-view">
  <div id="container"></div>
</div>

<div dojoType="dojox.mobile.RoundRect" shadow="true" class="query-options">
  
	<button id="serviceBtn" dojoType="dojox.mobile.Button" btnClass="mblBlueButton mblDropDownButton">
		<span></span>
	</button>
</div>

		<div id="coverBackFaces" class="backfaces">
			<div id="backface1" class="backface">
				No details
			</div>
		</div>
		<div id="titles" class="titles">
			<div id="title0" class="title">My Cover 1</div>
			<div id="title1" class="title">My Cover 2</div>
			<div id="title2" class="title">My Cover 3</div>
			<div id="title3" class="title">My Cover 4</div>
			<div id="title4" class="title">My Cover 5</div>
			<div id="title5" class="title">My Cover 6</div>
			<div id="title6" class="title">My Cover 7</div>
			<div id="title7" class="title">My Cover 8</div>
			<div id="title8" class="title">My Cover 9</div>
			<div id="title9" class="title">My Cover 10</div>
		</div>
