.mblRoundRect.detail-view {
	height: 350px;
	background-color: black;
}


.mblDropDownButton span {
	background-image: url(../images/dropdown-icon.png);
	padding-right: 15px;
	background-position: 4px right;
	background-repeat: no-repeat;
}
