.myPaneGridLayout {
	width: 100%;
	height: 50px;
}
.lineGridLayout {
	margin: 0;
	position:relative;
	border: 1px groove white;
	width: 100%;
	height: 100%;
}
.myIconGridLayout {
	margin-top:28px;
	margin-left:2px;
	border-radius: 10px;
	width:50px;
	height:42px;
	float:left;
}
.priceGridLayout {
	float:right;
	border-radius: 4px;
	margin-top:0px;
	margin-right:3px;
	border: 2px groove #959da0;
	padding: 0px 7px 0px 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#959da0), to(#515761));
	background-image: linear-gradient(to bottom, #959da0 0%, #515761 100%);
	color: white;
	font-size: 18px;
}
.OrderItemGridLayout {
	margin-top:15px;
	margin-left:3px;
	font-size: 18px;
}
.SubCategoryGridLayout {
	margin-top:38px;
	margin-left:55px;
	font-size: 24px;
}
.DescriptionGridLayout {
	margin-top:17px;
	margin-left:13px;
	font-size: 18px;
}
.titleGridLayout {
	color:white;
	font-style:italic;
	text-shadow:0px -1px 10px blue,1px 0px 10px blue,0px 1px 10px blue,-1px 0px 10px blue;
	font-size:50px;
}
