.list .row {
	padding: 10px;
	border-bottom: 1px solid #444;
	position: relative;
	background-color: white;
	z-index: 6; /* Must be greater than the .buttons z-index */
}
.list .row.mblListItem {
	padding: 0px;
}

.list .row.last {
	border-bottom: none;
}

.list .row.hold {
	background-color: #ddd;
}

.list .buttons {
	position: absolute;
	text-align: center;
	padding-top: 10px;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.list .buttons .mblButton {
}

.list .buttons .deleteBtn {
	background-color: red;

}
.list .buttons .cancelBtn {
	margin-left: 10px;
	background-color: blue;
}

.row.collapsed {
	-webkit-animation-name: collapse-vert;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
}

div#list .mblRoundRectList, div#list .mblRoundRect {
	margin: 10px 10px 10px 10px;
}

@-webkit-keyframes collapse-vert {
	from {
		height: 100%;
		padding: 10px;
	}
	to {
		height: 0px;
		padding: 0px;
	}
}

div#listWidget {
	margin: 3px;
}

#list .mblTabBarButton {
	width: 120px;
}
#list .roundRect {
	display:block;
}
#list .edgeToEdge {
	display:none;
}
