#scrollablePane .mblRoundRectList, .mblRoundRect {
	margin: 7px 9px 7px 9px;
}
#scrollablePane .mblListItem {
	color: white;
}
.subtitleScrollPane {
	color: gray;
	font-size: 12px;
}
#newsScrollPane {
	font-size: 14px;
}
#scrollablePane .list1ScrollPane, #scrollablePane .mblRoundRect {
	border-style: none;
}
.list1ScrollPane li:nth-child(even){
	background-color: #00575F;
}
.list1ScrollPane li:nth-child(odd){
	background-color: #013042;
}
.list1ScrollPane .mblListItemTextBox {
	padding-right: 5px;
}
.c1ScrollPane {
	width: 120px;
	float: left;
}
.c2ScrollPane {
	width: 80px;
	text-align: right;
	float: left;
}
.c3ScrollPane {
	text-align: right;
	width: 70px;
	color: white;
	padding: 0px 4px;
	margin-top: 4px;
	height: 30px;
	line-height: 32px;
	float: right;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.c3aScrollPane {
	border: 2px solid #598F3A;
	background-color: #6FB248;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6FB248), to(#54972D), color-stop(0.5, #5FA238), color-stop(0.5, #54972D));
	background-image: linear-gradient(to bottom, #6FB248 0%, #5FA238 50%, #54972D 50%, #54972D 100%);
}
.c3bScrollPane {
	border: 2px solid #9B322D;
	background-color: #C13E37;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C13E37), to(#A6231C), color-stop(0.5, #B6332C), color-stop(0.5, #A8251E));
	background-image: linear-gradient(to bottom, #C13E37 0%, #B6332C 50%, #A8251E 50%, #A6231C 100%);
}
#tbl1ScrollPane {
	margin: auto;
}
#tbl1ScrollPane td {
	text-align: right;
	border-bottom: 1px solid #DEE9F5;
	font: bold 13px arial,helvetica,clean,sans-serif;
}
#tbl1ScrollPane td:first-child {
	text-align: left;
}
#tbl1ScrollPane td.gScrollPane {
	color: #008800
}
#tbl1ScrollPane td.rScrollPane {
	color: #CC0000
}
