body {
	font-family:sans-serif;
	margin:5px;
}

.panel {
	margin-top:10px;
	background-color:#ececec;
	border-width:2px;
	border-color:gray;
	border-style:solid;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.canvas {
	width:500px;
	height:500px;	
	display:inline-block;
}

td.pad { 
	padding: 0px 5px 0px 5px; 
}
