.innerBox {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#mainlist li img {
	width:96px;
	height:96px;
	border:0;
	margin-right: 22px;
	z-index:8;
}
#mainlist li {
	position:relative;
	font-size: 13px;
	float:left;
	height:128px;
	list-style:none;
	margin-right:22px;
	margin-left: 22px;
}
#mainlist li a > span {
	display: inline;
	float: right;
	left: 22px;
}
#mainlist li a span span {
	z-index:9;
	cursor:pointer;
	color:#333;
	padding-top:7px;
	font-size:90%;
	display:block; width:270px;
	text-decoration:none;
	font-weight:normal;
}
