<div id="forms" data-dojo-type="dojox.mobile.ScrollableView"
	style="width: 100%;">
	<form name="testForm" id="testForm">
		<div class="section-title">Personal Data</div>
		<div data-dojo-type="dojox/mobile/RoundRect">
			<div data-dojo-type="dojox/mobile/FormLayout">
				<div>
					<label>Full name</label>
					<fieldset>
						<input id="forms_name" data-dojo-type="dojox.mobile.TextBox" selectOnClick="true" value="Luke" type=text name="name">
						</input>
					</fieldset>
				</div>
				<div>
					<label>Hide birthdate</label>
					<fieldset>
						<input type=checkbox data-dojo-type="dojox.mobile.CheckBox" name="hidebirth" checked="true">
						</input>
					</fieldset>
				</div>
				<div>
					<label>Goals</label>
					<fieldset>
						<textarea name="goals" data-dojo-type="dojox.mobile.TextArea" maxLength="100" cols="20"></textarea>
					</fieldset>
				</div>
			</div>
		</div>

		<div class="section-title">
			Login
		</div>
		<div data-dojo-type="dojox/mobile/RoundRect">
			<div data-dojo-type="dojox/mobile/FormLayout">
				<div>
					<label>User name*</label>
					<fieldset>
						<input type=text data-dojo-type="dojox.mobile.TextBox" name="username" required>
						</input>
					</fieldset>
				</div>
				<div>
					<label>Password*</label>
					<fieldset>
						<input type=password name="pass" data-dojo-type="dojox.mobile.TextBox">
						</input>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="section-title">
			Alerts
		</div>
		<div data-dojo-type="dojox/mobile/RoundRect">
			<div data-dojo-type="dojox/mobile/FormLayout">
				<div>
					<label>Issue alerts for:</label>
					<fielset></fielset>
				</div>
				<div>
					<label>All messages</label>
					<fieldset>
						<input id="alert-all" type=radio name="forwardtype" data-dojo-type="dojox.mobile.RadioButton" value="all">
						</input>
					</fieldset>
				</div>
				<div>
					<label>Urgent messages only</label>
					<fielset>
						<input id="alert-urgent" type=radio name="forwardtype" data-dojo-type="dojox.mobile.RadioButton" checked="true" value="urgent">
						</input>
					</fielset>
				</div>
				<div>
					<label>Audible alerts:</label>
					<fieldset>
						<div id="alertSwitch" data-dojo-type="dojox.mobile.Switch" value="off">
						</div>
					</fieldset>
				</div>
				<div>
					<label>Alert volume</label>
					<fieldset>
						<input id="alertSlider" data-dojo-type="dojox.mobile.Slider" name="alertvolume" min="0" max="100" value="0" style="width:50%;">
						</input>
					</fieldset>
				</div>
			</div>
		</div>
		<div style="text-align: center;">
			<button id="resetBtn" type=reset data-dojo-type="dojox.mobile.Button" class="mblButton greyBtn baseBtn normalBtn">
				Reset Form
			</button>
		</div>
	</form>
</div>
