<div id="headings" dojoType="dojox.mobile.ScrollableView">
	<h1 dojoType="dojox.mobile.Heading">
		<div id="tbDefaultBtn" dojoType="dojox.mobile.ToolBarButton">Default</div>
		<div id="tbRoundBtn" dojoType="dojox.mobile.ToolBarButton" class="roundBtn mblColorBlue">Round</div>
		<button id="tbToggleBtn" dojoType="dojox.mobile.ToggleButton">Toggle Button</button>
	</h1>
	<h1 id="segmentHeading" dojoType="dojox.mobile.Heading">
		<ul id="headingTabBar" dojoType="dojox.mobile.TabBar" barType="segmentedControl">
			<li id="tbNewBtn" dojoType="dojox.mobile.TabBarButton">New</li>
			<li id="tbHotBtn" dojoType="dojox.mobile.TabBarButton">What's Hot</li>
			<li id="tbGeniusBtn" dojoType="dojox.mobile.TabBarButton">Genius</li>
		</ul>
	</h1>
	<h1 dojoType="dojox.mobile.Heading">

		<button id="tbBackBtn" dojoType="dojox.mobile.ToolBarButton" data-dojo-props="arrow:'left'">Back</button>
		
		<div id="tbIconBtn1" dojoType="dojox.mobile.ToolBarButton" icon="images/a-icon-12.png"></div> 
		<div id="tbIconBtn2"></div> 
		<div id="tbDomBtn" class="mblDomButtonDarkBluePlus" style="float:right;right:54px;"></div>
	</h1>
	<div id="headingPane">Pick up a button, any button.</div>
</div>
