<div id="html5" data-dojo-type="dojox.mobile.View">
	<div id="html5Main" data-dojo-type="dojox.mobile.ScrollableView">
		<div class="label">Travel Log</div>
		<time id="noteDate"></time>
		<div id="noteLocRow">
			<address id="noteLocAddr">Unknown</address>
			<button id="showMapBtn" data-dojo-type="dojox.mobile.Button" label="Show Map" class="baseBtn defaultBtn"></button>
		</div>
		<textarea id="noteText" data-dojo-type="dojox.mobile.TextArea"></textarea>
		<button id="newNoteBtn" data-dojo-type="dojox.mobile.Button" class="baseBtn defaultBtn">New</button>
	</div>
	<div id="noteLocMapView" data-dojo-type="dojox.mobile.View">
		<div id="noteLocMapDiv"></div>
	</div>
</div>
