<div id="mobileTransitions" dojoType="dojox.mobile.View">
	<div id="mobileTransitionView1" dojoType="dojox.mobile.ScrollableView" style="background-color:#A6CEDD" selected="true">
		<h2 dojoType="dojox.mobile.RoundRectCategory">Standard Transitions</h2>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="slide">
				Slide
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="slide" transitionDir="-1">
				Slide (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="flip">
				Flip
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="fade">
				Fade
			</li>
		</ul>
		<h2 dojoType="dojox.mobile.RoundRectCategory">Extended Transitions</h2>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="dissolve">
				Dissolve
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="cover">
				Cover
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="cover" transitionDir="-1">
				Cover (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="reveal">
				Reveal
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="reveal" transitionDir="-1">
				Reveal (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="slidev">
				Slide Vertical
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="slidev" transitionDir="-1">
				Slide Vertical (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="coverv">
				Cover Vertical
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="coverv" transitionDir="-1">
				Cover Vertical (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="swirl">
				Swirl
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="swirl" transitionDir="-1">
				Swirl (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="zoomOut">
				Zoom Out
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="zoomIn">
				Zoom In
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="scaleOut">
				Scale Out
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="scaleIn">
				Scale In
			</li>
		</ul>
	</div>
	<div id="mobileTransitionView2" dojoType="dojox.mobile.ScrollableView" style="background-color:#B1ADD8">
		<h2 dojoType="dojox.mobile.RoundRectCategory">Standard Transitions</h2>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="slide">
				Slide
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="slide" transitionDir="-1">
				Slide (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="flip">
				Flip
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="fade">
				Fade
			</li>
		</ul>
		<h2 dojoType="dojox.mobile.RoundRectCategory">Extended Transitions</h2>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="dissolve">
				Dissolve
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="cover">
				Cover
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="cover" transitionDir="-1">
				Cover (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="reveal">
				Reveal
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="reveal" transitionDir="-1">
				Reveal (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="slidev">
				Slide Vertical
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="slidev" transitionDir="-1">
				Slide Vertical (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="coverv">
				Cover Vertical
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="coverv" transitionDir="-1">
				Cover Vertical (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="swirl">
				Swirl
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="swirl" transitionDir="-1">
				Swirl (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="zoomOut">
				Zoom Out
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="zoomIn">
				Zoom In
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="scaleOut">
				Scale Out
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView3" transition="scaleIn">
				Scale In
			</li>
		</ul>
	</div>
	<div id="mobileTransitionView3" dojoType="dojox.mobile.ScrollableView" style="background-color:#EBCF81">
		<h2 dojoType="dojox.mobile.RoundRectCategory">Standard Transitions</h2>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="slide">
				Slide
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="slide" transitionDir="-1">
				Slide (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="flip">
				Flip
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="fade">
				Fade
			</li>
		</ul>
		<h2 dojoType="dojox.mobile.RoundRectCategory">Extended Transitions</h2>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="dissolve">
				Dissolve
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="cover">
				Cover
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="cover" transitionDir="-1">
				Cover (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="reveal">
				Reveal
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="reveal" transitionDir="-1">
				Reveal (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="slidev">
				Slide Vertical
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="slidev" transitionDir="-1">
				Slide Vertical (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="coverv">
				Cover Vertical
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="coverv" transitionDir="-1">
				Cover Vertical (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="swirl">
				Swirl
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView2" transition="swirl" transitionDir="-1">
				Swirl (Reverse)
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="zoomOut">
				Zoom Out
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="zoomIn">
				Zoom In
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="scaleOut">
				Scale Out
			</li>
			<li dojoType="dojox.mobile.ListItem" moveTo="mobileTransitionView1" transition="scaleIn">
				Scale In
			</li>
		</ul>
	</div>
</div>