<div id="rating" data-dojo-type="dojox.mobile.ScrollableView">
	<div class="ratingGroup ratingGroup1">
		Rating is <span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-orange.png",numStars:3,value:0'></span> 0<br>
		Rating is <span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-orange.png",numStars:3,value:0.5'></span> 0.5<br>
		Rating is <span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-orange.png",numStars:3,value:1'></span> 1<br>
		Rating is <span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-orange.png",numStars:3,value:1.5'></span> 1.5<br>
		Rating is <span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-orange.png",numStars:3,value:3'></span> 3<br>
	</div>

	<div class="ratingGroup ratingGroup2">
		<span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-orange.png",numStars:5,value:2.5'></span><br>
		<span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-yellow.png",numStars:5,value:2.5'></span><br>
		<span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-green.png",numStars:5,value:2.5'></span><br>
		<span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-blue.png",numStars:5,value:2.5'></span><br>
		<span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-2.png",numStars:5,value:2.5'></span><br>
		<span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-3.png",numStars:5,value:2.5'></span><br>
		<span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-4.png",numStars:5,value:2.5'></span><br>
		<span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-5.png",numStars:5,value:2.5'></span><br>
		<span data-dojo-type="dojox.mobile.Rating" 
			data-dojo-props='image:"images/star-6.png",numStars:5,value:2.5'></span><br>
	</div>
</div>
