<div id="valuePicker" data-dojo-type="dojox.mobile.View">
    
    <ul data-dojo-type="dojox.mobile.TabBar"
        data-dojo-props='barType:"segmentedControl", fixed:"top"'>
        <li data-dojo-type="dojox.mobile.TabBarButton"
            data-dojo-props='selected:true, moveTo:"datePickerView"'
            >Spin Date</li>
        <li data-dojo-type="dojox.mobile.TabBarButton" data-dojo-props='moveTo:"timePickerView"'>Spin Time</li>
        <li data-dojo-type="dojox.mobile.TabBarButton" data-dojo-props='moveTo:"valuePickerView"'>Value</li>
    </ul>
    
    <div id="datePickerView" data-dojo-type="dojox.mobile.View">
        <div id="picker1" data-dojo-type="dojox.mobile.SpinWheelDatePicker"></div>
        <div data-dojo-type="dojox.mobile.Heading">
            <span data-dojo-type="dojox.mobile.ToolBarButton" onClick="gotoToday()" data-dojo-props='label:"Reset"'></span>
            <span data-dojo-type="dojox.mobile.ToolBarButton" onClick="showSelectedValue()" data-dojo-props='label:"Get Selected"'></span>
            <span id="msg"></span>
        </div>
    </div>

    <div id="timePickerView" data-dojo-type="dojox.mobile.View">
        <div id="picker2" data-dojo-type="dojox.mobile.SpinWheelTimePicker"></div>
        <div data-dojo-type="dojox.mobile.Heading">
            <span data-dojo-type="dojox.mobile.ToolBarButton" onClick="gotoNow()" data-dojo-props='label:"Reset"'></span>
            <span data-dojo-type="dojox.mobile.ToolBarButton" onClick="showSelectedTime()" data-dojo-props='label:"Get Selected"'></span>
            <span id="msg2"></span>
        </div>
    </div>

    <div id="valuePickerView" data-dojo-type="dojox.mobile.View">
        <div id="picker3" data-dojo-type="dojox.mobile.ValuePickerDatePicker"></div>
        <div id="picker4" data-dojo-type="dojox.mobile.ValuePickerTimePicker"></div>
        <div data-dojo-type="dojox.mobile.Heading">
            <span data-dojo-type="dojox.mobile.ToolBarButton" onClick="resetValuePickers()" data-dojo-props='label:"Reset"'></span>
            <span data-dojo-type="dojox.mobile.ToolBarButton" onClick="showPickedValues()" data-dojo-props='label:"Get"'></span>
            <span id="msg3"></span>
        </div>
    </div>


</div>
