/* pagination bar */
.dojoxGridxPager {
	background: url("images/header_shadow.png") repeat-x scroll center bottom #E5EDF4;
	padding: 3px 9px;
	border-top: 1px solid #DDDDDD;
}

.dojoxGridxPager table {
	width: 100%;
	table-layout: auto;
}

.dojoxGridxPagerA11yInner {
	visibility: hidden;
}

.dojoxGridxPager .dojoxGridxPagerStepper {
	text-align: right;
}

.dojoxGridxPagerStepperBtn,	
.dojoxGridxPagerSizeSwitchBtn {
	width: 12px;
	margin: 0 5px;
	cursor: pointer;
	color: #5D88AF;
}

.dojoxGridxPagerSizeSwitchBtn {
	margin: 0 7px;
}

.dojoxGridxPagerStepperBtnHover {
	text-decoration: underline;
}

.dojoxGridxPagerStepperBtnActive,
.dojoxGridxPagerSizeSwitchBtnActive {
	cursor: default;
	color: black;
	font-weight: bold;
}

.dojoxGridxPagerFirstPage,
.dojoxGridxPagerPrevPage,
.dojoxGridxPagerNextPage,
.dojoxGridxPagerLastPage,
.dojoxGridxPagerGotoBtn {
	background: url("images/sprite_icons.png"); 
}

.dojoxGridxPagerFirstPage {
	background-position: -60px 4px;
}
.dojoxGridxPagerFirstPageDisable {
	background-position: -60px -16px;
	cursor: default;
}

.dojoxGridxPagerPrevPage {
	background-position: 1px 4px;
}
.dojoxGridxPagerPrevPageDisable {
	background-position: 1px -16px;
	cursor: default;
}

.dojoxGridxPagerNextPage {
	background-position: -19px 4px;
}
.dojoxGridxPagerNextPageDisable {
	background-position: -19px -16px;
	cursor: default;
}

.dojoxGridxPagerLastPage {
	background-position: -40px 4px;
}
.dojoxGridxPagerLastPageDisable {
	background-position: -40px -16px;
	cursor: default;
}

.dojoxGridxPagerDescSize {
	text-align: left;
}

.dojoxGridxPagerSizeSwitch {
	margin-left: 30%;
}

.dojoxGridxPagerGoto {
	width: 20px;
	text-align: right;
}

.dojoxGridxPagerGotoBtn {
	background-position: -77px 4px;
	cursor: pointer;
}

/* Goto Page Dialog */
.dojoxGridxGotoPage td {
	padding-bottom: 5px;
}

.dojoxGridxGotoPage .dojoxGridxGotoPageBtns {
	padding-bottom: 0;
	text-align: right;
}

.dojoxGridxGotoPage .dojoxGridxGotoPageInputBox {
	width: 100px;
}

.dojoxGridxGotoPage .dojoxGridxPageCountMsg {
	padding-left: 5px;
}

/* Pagination RTL */
.dj_rtl .dojoxGridxPager .dojoxGridxPagerStepper,
.dj_rtl .dojoxGridxPager .dojoxGridxPagerGoto,
.dj_rtl .dojoxGridxGotoPage .dojoxGridxGotoPageBtns {
	text-align: left;
}
.dj_rtl .dojoxGridxPagerFirstPage {
	background-position: -40px 4px;
}
.dj_rtl .dojoxGridxPagerFirstPageDisable {
	background-position: -40px -16px;
}

.dj_rtl .dojoxGridxPagerPrevPage {
	background-position: -19px 4px;
}
.dj_rtl .dojoxGridxPagerPrevPageDisable {
	background-position: -19px -16px;
}

.dj_rtl .dojoxGridxPagerNextPage {
	background-position: 1px 4px;
}
.dj_rtl .dojoxGridxPagerNextPageDisable {
	background-position: 1px -16px;
}

.dj_rtl .dojoxGridxPagerLastPage {
	background-position: -60px 4px;
}
.dj_rtl .dojoxGridxPagerLastPageDisable {
	background-position: -60px -16px;
}

